@import './ui.css'; 
@import './ui-input-range.css'; 

body {
    font-family: var(--font-family-text);
    margin: 0;
    overflow: hidden;
    height: 100%;
}

:root {
    --text-color: #454545;
    --inputbg-color: #ffffff;
    --accent-color: #b5b5b5;
    --thumb-height: 15px;/*スライダーのつまみ*/
    --thumb-width: 15px;
    --thumb-border-radius: 50%;
    --round-input-radius: 40px;/*スライダーのコンテナの高さ*/
    --range-button-radius: 30px;
    --font-family-ui: 'Roboto';
    --panel-left-height: 340px; /* panel-leftの高さ */
    --panel-left-top: 50px; /* panel-leftの上部の位置 */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: none;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;/*スライダーコンテナの要素のマージン*/
    border-radius: 0;
}

#canvas-container {
    position: fixed;
    top: 2%; /* 上側からビューポートの中央に配置 */
    right: 2%; /* 画面の右端から25pxの位置に配置 */
    width: calc(96vh); /* ビューポートの高さの90% */
    height: calc(96vh); /* 同上、正方形を保つ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-left {
    position: relative; /* これは既に設定されている */
    width: auto; /* これは既に設定されている */
    height: var(--panel-left-height); /* 高さは変数で設定 */
    top: var(--panel-left-top); /* 上の位置は変数で設定 */
    left: 0px; /* 左の位置は0に設定 */
    background-color: none; /* 背景色 */
}

.color-picker-container {
    position: absolute; /* 絶対位置指定 */
    bottom: 0px; /* .panel-leftの下端に配置 */
    left: 0px; /* .panel-leftの左端に配置 */
    background-color: #a24040; /* 背景色 */
    padding: 10px; /* パディング */
    border-radius: 8px; /* 角の丸み */
}


/* 全てのカラーピッカー入力にマージンを適用 */
.square-picker,
.circle-picker,
.rectangular-picker {
    margin-right: 10px; /* 右側に10pxのマージンを追加 */
}

/* 最後のカラーピッカー入力のマージンを取り除く */
.color-picker-container input[type="color"]:last-child {
    margin-right: 0; /* 最後の要素のみ、右マージンを0に設定 */
}


/* 正方形 */
.square-picker {
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.square-picker::-webkit-color-swatch-wrapper,
.square-picker::-webkit-color-swatch {
    border-radius: 0%;
    padding: 0;
}

/* 円形 */
.circle-picker {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.circle-picker::-webkit-color-swatch-wrapper,
.circle-picker::-webkit-color-swatch {
    border-radius: 50%;
    padding: 0;
}

/* 横長の長方形 */
.rectangular-picker {
    border: none;
    height: 30px;
    width: 50px;
    cursor: pointer;
}

.rectangular-picker::-webkit-color-swatch-wrapper,
.rectangular-picker::-webkit-color-swatch {
    border-radius: 0%;
    padding: 0;
}

.description-container {
    background-color: none; /* 任意の背景色 */
    padding: 0; /* コンテナ内の余白 */
    position: absolute; /* 画面に対して固定位置 */
    bottom: 0; /* 下端から25pxの位置 */
    left: 0; /* 左端から0pxの位置 */
    margin: 0; /* 外側の余白を削除 */
}

.description {
    color: var(--text-color);
    font-family: var(--font-family-ui);
    letter-spacing: 0.2em;
    font-size: 12px;
    line-height: 180%;
    margin: 0 0 0 0;
}

.vertical-text {
    position: fixed;
    right: -400px; /* 右側に配置し、適切なマージンを確保 */
    top: 50%; /* 画面の中央あたりに配置 */
    transform: translate(0, -50%) rotate(270deg); /* 中央寄せの微調整と90度回転 */
    font-size: 55px; /* フォントサイズは適宜調整してください */
    color: #313131;; /* 文字色、必要に応じて変更してください */
    background-color: none; /* 背景色を指定しない */
    padding: 10px; /* パディング、見た目に合わせて調整 */
    font-family: 'Roboto'; /* フォントファミリー、必要に応じて変更 */
    white-space: nowrap; /* テキストが一行で表示されるように設定 */
}

@import './ui.css'; 
@import './ui-input-range.css'; 

/* 既存のスタイル */
@media (orientation: portrait) {
    #canvas-container {
        width: 96vw; /* ビューポートの幅の96% */
        height: 96vw; /* 幅と同じ値を高さにも適用して正方形を保つ */
        top: 2%; /* 上の余白 */
        right: 2%; /* 右の余白 */
        bottom: 2%; /* 下の余白 */
        left: 2%; /* 左の余白 */
        position: fixed;
    }
    .panel-left {
        width: calc(100% - 4%); /* ウインドウの幅から左右に2%ずつ余白を引いた幅 */
        margin-left: 2%; /* 左側に2%の余白を追加 */
        margin-right: 2%; /* 右側に2%の余白を追加 */
        height: var(--panel-left-height); /* 高さは変数で設定 */
        top: var(--panel-left-top); /* 上の位置は変数で設定 */
    }
}
/* レスポンシブデザインのための追加のメディアクエリ */
@media screen and (max-width: 768px) {
    body {
        overflow: auto; /* スクロールを有効にする */
    }

    .panel-left {
        width: 100%; /* モバイルデバイスでは全幅を使用 */
        top: 0;
        left: 0;
    }

    .color-picker-container {
        position: absolute; /* panel-leftに対して相対的な位置 */
        bottom: 0; /* panel-leftの下端に配置 */
        left: 0; /* panel-leftの左端に合わせる */
        width: 100%; /* panel-leftの幅に合わせる */
      }

    .vertical-text {
        display: none; /* モバイルでは表示しない */
    }

    .color-picker-container,
    .description-container {
        position: relative; /* モバイルでは相対位置に変更 */
        bottom: auto;
        margin-left: auto; /* 中央揃えのために自動マージンを使用 */
        margin-right: auto;
        width: 90%; /* コンテナの幅を調整 */
    }
}

@media screen and (max-width: 480px) {
    /* さらに小さいデバイスのためのスタイル調整 */
    .color-picker-container,
    .description-container {
        width: 95%; /* 幅をさらに広げる */
    }
}
