.ui-group{
    margin: 0px 0px 20px 0px;
}

.ui-title{
    width:100%;
    font-family: var(--font-family-ui);
    letter-spacing: 0.5em;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

    font-size:18px;
    font-weight: normal;
    line-height:20px;
    position: relative;
    color: var(--text-color);
    background:none;
    display:block;
    float: none;
    border:none;
    user-select:none;
}

.ui-subtitle{
    font-family: var(--font-family-ui);
    letter-spacing: 0.3em;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

    font-size:14px;
    position: relative;
    color: var(--text-color);
    background:none;
    display:block;
    float: none;
    border:none;
    user-select:none;
}